<%-include("parts/indexHead") %>
<!-- vars: arr -->
<style>
    table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}


td,
th {
  border: 1px solid #dddddd;
  text-align: right;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.red{
    background-color: red;
    color: white;
}

</style>
<table>
    <tr>
        <th>מחיקת הזמנה</th>
        <th>הערות</th>
        <th>תאריך</th>
        <th>כתובת</th>
        <th>משלוח/ איסוף עצמי</th>
        <th>מה הוזמן?</th>
        <th>פלאפון</th>
      <th>שם</th>

    </tr>
        <% arr.forEach(function(ar){%>
            <tr>
                <td>
                    <form action="/orders/index/delete/<%=ar._id%>?_method=DELETE" method="POST"><button class="btn red">מחקי </button></form>
                    </td>
            <td><%=ar.notes%></td>
            <td><%=ar.date.toDateString()%></td>
            <td><%=ar.address%></td>
            <td><%=ar.delivery%></td>
            <td><%=ar.shopping%></td>
            <td><%=ar.phone%></td>
            <td><%=ar.name%></td>
        </tr>
        <% }) %>
     
    </table>
<%-include("parts/footer") %>
