<%-include("parts/showHead") %>
<!-- vars: book-->
<script>
    function explain(){
        var exp = document.querySelector("#paying")
        if(exp.style.display =="none"){
            exp.style.display = "block"
        } else{
            exp.style.display = "none"
        }
    }

    

</script>


<style>
    .fewmore{
        white-space: pre-line;
        font-size: 17px;
        font-weight: 800;
        font-family: 'Suez One', serif;
    }
   
    .fe{
        float: right;
        border-radius: 20px;
        height: 100px;

    }
    .few{
        font-size: 20px;
        font-family: 'Rubik Beastly', cursive;
    }
    #digitalg{
        background-color: #00CED1;
        font-family: 'Secular One', sans-serif;
        color: white;
        border: none;
        border-radius: 15px;
    }

    #paying{
        white-space: pre-line;
        font-size: smaller;
        font-weight: 700;
    }
</style>

<div class="container">
   <div class="ashinfo">
       <img class=" ashpic col-lg-3 col-md-3 col-sm-3 fe" src="https://i.ibb.co/XZp3748/Smart-Select-20220504-151748-Whats-App.jpg">
       <div class="col-lg-3 col-md-6 col-sm-6 ">
           <span class="few"> קצת עליי
           </span>
           <div class="fewmore">
               עשוש שלנו בת 19
               עוד מעט תהיה בת 20  קשישה זקנה ואז אצטרף 
               אליה בחודש טבת שותינו נהיה קשישות לנצח ונפתח את מועדון הקשישות שלנו
           </div>
       </div>
   </div>
    <div class="flower actualbook">

<span id="bookname"><%= book.name%></span>
<hr class="hr">
<img class="bookcover" src="<%=book.cover%>">
<div class="info">
    <span class="author"><%=book.author%></span>
    <br>
    <span class="year"><%=book.year%></span>
    <br>
    <span class="price"><%=book.price%></span>
</div>
<button onclick="explain()" id="digitalg">איך קוראים ספר דיגיטלי</button>
<div style="display: none;" id="paying">
    הספר הנרכש הינו ספר דיגיטלי
    התשלום ייעשה על ידי אפליקציות ביט או פייבוקס
    כדי לרכוש את הספר, יש להעביר את סכום הכסף 
    0538320235 הנדרש למספר הפלאפון
    וחובה לציין את כתובת המייל כדי שתהיה אפשרות לשלוח את הספר

    עד 24 שעות מרגע הרכישה, ישלח אליכם מייל עם קובץ 
    הספר להרדה ואפליקצייה בעזרתה ניתן לקרוא ספר דיגיטלי
    
</div>
<div style="margin-top: 10%;" class="summary">
    <span id="taktsir">תקציר</span>
    <div class="sum">
        <%-book.summary%>
    </div>
</div>
</div>

</div>
<%-include("parts/footer") %>
