<%-include("parts/showHead") %>
<!-- vars: book-->
<script>
    function explain(){
        var exp = document.querySelector("#paying")
        if(exp.style.display =="none"){
            exp.style.display = "block"
        } else{
            exp.style.display = "none"
        }
    }

    

</script>


<style>
    .fewmore{
        white-space: pre-line;
        font-size: 14px;
        font-family: 'Suez One', serif;
    }
   
    .fe{
        float: right;
        border-radius: 20px;
        height: 100px;

    }
    .few{
        font-size: 20px;
        font-family: 'Rubik Beastly', cursive;
    }
    #digitalg{
        background-color: #00CED1;
        font-family: 'Secular One', sans-serif;
        color: white;
        border: none;
        border-radius: 15px;
    }

    #paying{
        white-space: pre-line;
        font-size: smaller;
        font-weight: 700;
    }
</style>

<div class="container">
   <div class="ashinfo">
       <img class=" ashpic col-lg-3 col-md-3 col-sm-3 fe" src="https://i.ibb.co/XZp3748/Smart-Select-20220504-151748-Whats-App.jpg">
       <div class="col-lg-3 col-md-6 col-sm-6 ">
           <span class="few"> קצת עליי
           </span>
           <div class="fewmore"><%=book.about%></div>
       </div>
   </div>
   <div class="flower">

   
    <div class=" actualbook">

<span id="bookname"><%= book.name%></span>
<hr class="hr">
<img class="bookcover" src="<%=book.cover%>">
<div class="info">
    <span class="author"><%=book.author%></span>
    <br>
    <span class="year">שנת הוצאה  <%=book.year%> </span>
    <br>
    <span class="price"><%-book.price%></span>
</div>
<button onclick="explain()" id="digitalg">איך קוראים ספר דיגיטלי</button>
<div style="display: none;" id="paying">
    הספר הנרכש הינו ספר דיגיטלי
    התשלום ייעשה על ידי אפליקציות ביט או פייבוקס
    כדי לרכוש את הספר, יש להעביר את סכום הכסף 
    0538320235 הנדרש למספר הפלאפון
    וחובה לציין את כתובת המייל כדי שתהיה אפשרות לשלוח את הספר

    עד 24 שעות מרגע הרכישה, ישלח אליכם מייל עם קובץ 
    הספר להורדה ואפליקצייה בעזרתה ניתן לקרוא ספר דיגיטלי
    
</div>
<div style="margin-top: 10%;" class="summary">
    <span class="titlefont" id="taktsir">תקציר</span>
    <div class="sum">
        <%-book.summary%>
    </div>
</div>
</div>
<div style="margin-top: 9%;" class="showcomments container">
    <span id="csFont" class="titlefont">תגובות על העמוד ועל הספר</span>
    <hr style="width: 97%;" class="hr">
    <% book.comments.forEach(function(comment){%>
       <div class="singleComment container">
        <span id="comname">
            <%= comment.name%> </span> 
            <div class="comtext"><%= comment.text%></div>
            <hr class="comHr">
       </div>

            <%})%>
</div>


<div class="comments container">
    <form action="/createcomment/<%=book._id%>" method="post">
        <span id="addCom">הוספת תגובה</span>
        <div class="form-group">
            <label>שם</label>
            <input class="form-control" type="text" name="comment[name]">
          </div>
          <div class="form-group">
            <label>תגובה</label>
            <textarea class="form-control" name="comment[text]">

            </textarea>
          </div>
          <div class="form-group">
            <input class="btn submitbtn" class="form-control" type="submit" value="שליחה">
        </div>
    </form>
</div>

</div>
</div>
<%-include("parts/footer") %>
